<div class="p-4">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!--   <label for="email">Email</label> -->
    <!--   <input type="email" class="form-control" id="email" formControlName="email" /> -->
    <div class="mt-4">
      <app-input-custom
        [name]="'Email'"
        [type]="'email'"
        [id]="'email'"
        [placeholder]="'janesmith@business.com'"
        (valueChanged)="emailControl.setValue($event)"
      />
    </div>
    <div class="mt-6">
      <app-input-custom
        [name]="'password'"
        [type]="'password'"
        [id]="'password'"
        [placeholder]="'your password...'"
        (valueChanged)="passwordControl.setValue($event)"
      />
    </div>
    <div class="mt-6">
      <app-input-custom
        [name]="'confirm password'"
        [type]="'password'"
        [id]="'confirm-password'"
        [placeholder]="'confirm password...'"
        (valueChanged)="confirmPasswordControl.setValue($event)"
      />
    </div>

    <button type="submit" class="bg-black mt-4 py-2 px-4 text-white w-full rounded">Submit</button>
  </form>
